#blog {
  background-color: #f6f6f6;
  text-align: center;
  }
#blog .container {
  width: 100%;
  padding: 4%;
  margin: 0;
}
#blog img {
  width: 100%;
  transition: all 0.4s ease-in-out;
}
/* iso-box text styling */

.blog-box:hover {
  opacity: 0.5;
}


.boxblog {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
    width:100%;
}
.boxblog:hover {
opacity: .5;
}
.boxblog p {
  text-align: left;
  padding-bottom: 0;
}

.blogBlurb {
  text-indent: 0px;
  padding-top: 0px;
  padding-bottom: 20px;
  text-align: left;
}
