body
{
  background: #fff;
  font-family: 'lane_-_narrowregular', sans-serif;
  line-height: 30px;
}

@font-face {
  font-family: 'lane_-_narrowregular';
  src: url('../fonts/LANENAR_-webfont.eot');
  src: url('../fonts/LANENAR_-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/LANENAR_-webfont.woff') format('woff'),
  url('../fonts/LANENAR_-webfont.ttf') format('truetype'),
  url('../fonts/LANENAR_-webfont.svg#lane_-_narrowregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1, p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

h2,h3 {
  font-weight: bold;
}

hr {
  border-color: #f2af00;
  margin: 0;
  opacity: 0.3;
}

img {
  max-width: 100%;
  height: auto;
  transition: all 0.3s ease-in;
}
img:hover {
  cursor: pointer;
  opacity: 0.5;
}

/* navigation */
.navbar-default {
  height: 100px;
  background: #fff;
  border: none;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
  margin: 0 !important;
}
.navbar-default .navbar-brand {
  background: transparent; /* #407595; */
  color: black; /* #57a773; */
  font-weight: 800;
  font-size: 3.2em;
  line-height: 50px;
  height: 100px;
  margin: 0;
  padding: 20px 20px 40px 20px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}
.navbar-brand:hover, .navbar-brand:clicked {
  height: 100px;
}

/*   rgb(0, 122, 68);   */
.navbar-default .navbar-nav li a {
  border-right: none;
  color: #202020;
  font-weight: bold;
  padding-right: 40px;
  padding-left: 40px;
  line-height: 60px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}

/* client login button */ 
.navbar-default .navbar-nav li:nth-child(6) {
  border: none;
  background-color: red;
  font-weight: bold;
  height: 100%;
  padding-bottom:10px;

  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}

.navbar-default .navbar-nav li:nth-child(6):hover, .navbar-default .navbar-nav li:nth-child(6):clicked {
  height: 100px;
}
.navbar-default .navbar-nav li:nth-child(6):hover {
  background-color:#698996 !important;
  color:#f1ab86 /* #97b1a6 */ !important;
}
/* client login button */

.navbar-default .navbar-nav > li > a:clicked,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f2af00;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f2af00;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border: none;
  padding-top: 30px;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #dc5034;
  border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
  background-color: transparent 
}

#home {
  /*  background: url('../images/test.jpg')no-repeat; */
  position: relative;
  background-size: cover;
  background-position: center;
  text-decoration: none;
/*  min-height: 600px;
padding-top: 220px;
padding-bottom: 100px;  */
}
/*
#parallax {
background: url('../images/seattle_bus2.jpg')no-repeat;
position: relative;
min-height: 800px;
padding-top: 220px;
padding-bottom: 100px;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
*/
/*
#left:hover:before {
opacity:.6;
background: url('../images/phone.jpg')no-repeat;
}

#left {
position: relative;
min-height: 800px;
float: left;
width: 50%;
overflow: hidden;
background: url('../images/phone.jpg')no-repeat;
}

#left:hover {
opacity:.6;
background: url('../images/phone.jpg')no-repeat;
}

#right {
position: relative;
min-height: 800px;
width: 50%;
overflow: hidden;
background: rgba(105, 137, 150,.1);
}

#right:hover {
opacity:.9;
background: url('../images/phone.jpg')no-repeat;
}

.button {
background-color: white; 
border: none;
color: white;
padding: 16px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
-webkit-transition-duration: 0.4s; 
transition-duration: 0.4s;
cursor: pointer;
border-radius:1px;
}

.button {
background:transparent; 
color: white; 
border: 2px solid white;
}

.button:hover {
background:transparent;
color: white;
border: 2px solid grey;
}
*/


#parallax2 {
  background: url('../images/pdad.gif')no-repeat;
  position: relative;
  min-height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.layer {
  background-color: #f2f3f7; /* #F1AB86;/* #F1AB86; */ /* rgb(219, 147, 71); */
  background-color:cover;
  opacity: .95;
  width: 45%;
  height: 100%; 
}




#a:hover:before {
  opacity:1;
  background-color:red;
  text-decoration: none;
}

#a {
  position: relative;
  min-height: 800px;
  float: left;
  width: 50%;
  overflow: hidden;
  text-decoration: none;
  background: url('../images/phone.jpg')no-repeat; 
  opacity:.5; /* this needs to be replaced w/ the opaque picture */ 
}

#a:hover {
  opacity:1;
  text-decoration: none;
  background: url('../images/phone.jpg')no-repeat; 
}

#b {
  position: relative;
  min-height: 800px;
  width: 50%;
  overflow: hidden;
  text-decoration: none;
/*
background: url('../images/phone.jpg')no-repeat; 
*/
}

#b a {
  text-decoration: none;
}
#b:hover {
  opacity:1;
  background: url('../images/phone.jpg')no-repeat; 
  text-decoration: none;
}


.button {
  background-color: white; /* Green */
  background:transparent; 
  border: 4.4px solid white;
  color: white;
  padding: 2px 32px;
  text-align: center;
  font-weight:700;
  text-decoration: none;
  display: inline-block;
  font-size: 1.4em;
  margin: 0px 0px;
  -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.5s;
  cursor: pointer;
  border-radius:0px;
}
.button:hover {
  border:4px solid grey;
}

/* section two twbs */ 

#about {
  background: #3B3B3B;
  color: #ffffff;
}
.nav-tabs {
  margin-top: 20px;
  border-bottom: none;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  display: block;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px;
  border: 0;
  border-radius: 0;
}
.nav-tabs > li > a:hover {
  background-color: transparent;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #00c6d7;
  cursor: default;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom-color: transparent;
}
.tab-content {
  padding-top: 20px;
}

.tab-content a {
  color: #0CC;
}

.tab-content a:hover, .tab-content a:link {
  color: #FF0;
  text-decoration: none;
}

h1.heading.bold {
  text-align:left;
}




/* ------------------------- */

.layer2 {
  background: transparent;
  opacity: .8;
  top: 0;
  left: 0;
  width: 100%;
  height: 235px;
  padding-top: 100px;
}
.layer2 h1 {
  color: #407076;
  font-weight:1000;
  font-size:6em;
}

.layer2 p {
  color: #407076;
  font-size: 3em;
}

#value {
  padding-top: 32%;
  padding-bottom: 30%;
  font-size: 6.5em;
  font-weight:800;
  color:#f1ab86;
}
/* -------------------- */
.sigma-content {
  padding: 15% 40px;
  border-right: none;
  border-bottom: none;
  min-height: 280px;
  color: #f1ab86;
  text-align: left;
}

.sigma-content h2 {
  font-size: 6.5em;
  font-weight:800;
}
.sigma-content p {
  font-size: 2em;
}
/* ------------------- */
#home h1 {
  color: #407595;
  font-weight: 800;
  padding-top: 4%;
  padding-left: 9%;
  padding-bottom: 5px;
  font-size: 30px;
}
#home h2 {
  line-height: 10px;
  padding-bottom: 2px;
  color: white;
}

#home h4 {
  color: #407595;
  padding-left: 9%;
  line-height: 1.5;
  font-size: 1.3em;
}

#home p {
  padding-left: 9%;
  font-size: 1.2em;
  padding-top:30px;
  font-weight: 800;

}
#home p:hover {
  text-decoration: none
}
#home a:link {
  text-decoration: none;
  padding-top:6%;
}

a {
  color: #F1AB86; /*#57a773; /* #a0ecd0; */
  font-weight: 600;
}

a:hover {
  color: #57a773;
}

#work:hover + .button-id {
  background: #ccc
}

#work {
  text-align: center;
}
#work .col-md-3 {
  width:23%;
  padding: 2%;
  margin:2% 1% 2% 1%;
  position: relative;
  transition: all 0.4s ease-in-out;
  background-color:#ecf0f1;
}

#work .button-about span:after {
  content: '\00bb';
  color:white;
}

#work .title {
  margin-bottom:4%;
}
#work .col-md-3:hover {
  background-color: #89b0ae;
  color:white;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
}
#work .col-md-3:hover button {
  color:white;
  transition: all 0s ease-in-out;
  -webkit-transition: all 0s ease-in-out;
  -moz-transition: all 0s ease-in-out;
  -ms-transition: all 0s ease-in-out;
}


#work .title h2 {
  font-size: 35px;
}

.quote-icon {
  width: 40%;
  height:40%;
  margin-left:35%;
  margin-top: 6%;

}

#work h3 {
  font-size: 24px;
  font-weight: bold;
}


.services {
  width:34%;
  height: 0 auto;
}


.services:nth-child(4) {
  width:64%;
  height: 0 auto;
  margin-right:1%;
  margin-left:1%;
  background-color: green;
}

.services:nth-child(5) {
  width:33%;
  height: 0 auto;
  background-color:yellow;
  margin-right:1%;
  margin-left:1%;
}


#work1 {
  margin:0 auto;
  padding-bottom:5%;
}
#work1 .button-about {
  display: inline-block;
  border-radius: 4px;
  background-color: transparent;
  border: none;
  color: black;
  font-weight:bold;
  text-align: left;
  font-size: 1.4em;
  padding: 6% 0 10% 0;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0px;
  vertical-align:middle;
}

#work1 .button-about {
  float:left;
}



#work1 .col-md-4 {
  width:31%;
  padding: 2%;
  margin:2% 1% 2% 1%;
  overflow:hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  background-color:#ecf0f1;
}
#work1 .col-md-4:nth-child(3) {
  margin:2% 0% 0% 1%;
  overflow:visible;
  padding-bottom:4%;
  background-image: url("../images/zack.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height:110%;
  padding-bottom:25%;
}


#work1 .col-md-4:nth-child(4) {
  margin:2% 2% 2% 2%;
  overflow:hidden;
}
#work1 .col-md-4:nth-child(5) {
  margin:0% 0% 0% 1%;
  overflow:hidden;
}

#work1 .button-about span:after {
  content: '\00bb';
  color:white;
}

#work1 .title {
  margin-bottom:4%;
}
#work1 .col-md-4:hover {
  background-color: #89b0ae;
  color:white;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
}
#work1 .col-md-8:hover {
  background-color: #89b0ae;
  color:white;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
}
#work1 .col-md-4:hover button {
  color:white;
  transition: all 0s ease-in-out;
  -webkit-transition: all 0s ease-in-out;
  -moz-transition: all 0s ease-in-out;
  -ms-transition: all 0s ease-in-out;
}

#work1 .col-md-8:hover button {
  color:white;
  transition: all 0s ease-in-out;
  -webkit-transition: all 0s ease-in-out;
  -moz-transition: all 0s ease-in-out;
  -ms-transition: all 0s ease-in-out;
}

#work1 .title h2 {
  font-size: 35px;
}

.quote-icon {
  width: 40%;
  height:40%;
  margin-left:35%;
  margin-top: 6%;

}

#work1 h3 {
  font-size: 24px;
  font-weight: bold;
}

.container-bottom{
width:100%;
height:0 auto;
font-size:1.5em;
background-color:none;
}
.container-bottom button {
  width:100%;
  margin:5% 5%;

}

.content{
float:left;
height:30px;

}
.content1{
width:50%;
height:100%;
background-color:blue;
}
.content2{
width:50%;
height:100%;
background-color:green;
}


#home .btn {
  background: rgba(255, 255, 255, 0.6);
  border: 2px solid #444;
  border-radius: 0px;
  opacity: 1;
  color: #444;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding-top: 14px;
  width: 200px;
  padding: 20px;
  margin-top: 20px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}
#home .btn:hover {
  background: #dc5034;
  border-color: transparent;
  color: #fff;
}

.call-to-action {
  text-align: center;
  width: 100%;
  padding-top:35%;
}

.call-to-action p {
  padding-right:20%;
  padding-left:20%;
}

/* service section */
#service {
  padding-top: 100px;
  padding-bottom: 80px;
  text-align: center;
}

#service h2 {
  /*  border-right: 2px solid #f2af00;  */
  display: inline-block;
  vertical-align: center;
  padding: 20px;
}
#service .fa {
  border-top: 3px solid #f2af00;
  border-bottom: 3px solid #dc5034;
  border-radius: 50%;
  font-size: 32px;
  color: #dc5034;
  text-align: center;
  vertical-align: middle;
  margin-top: 50px;
  margin-bottom: 15px;
  padding: 40px;
}
.blogBlurb {
  text-indent: 5px;
  padding-top: 14px;
  padding-bottom: 20px;
  text-align: left;
}
/* about section */
#about h2 {
  /*  border-right: 2px solid #f2af00; */
  display: inline-block;
  padding: 10px 20px 10px 10px;
}
#about .col-md-12 {
  text-align: center;
  padding-bottom: 60px;
}
#about img {
  border: 1px solid #666;
  margin-bottom: 10px;  
}
#about h4 {
  padding-bottom: 10px;
}
.about {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color:#c7c3bc
}

.section-2 {
  width:60%;
  background-color: green;
  margin:0 auto;
  min-height:350px;
  margin-top:20%;
  margin-bottom: 20%;
}
.section-2-content {
  padding: 8% 8% 10% 10%;
  width:100%;
  height: 0 auto;
}

.section-2 .button {
  margin-top:8%;
  padding: 2px 40px;
  float:left;
}
/* team section */
#team {
  padding-top: 60px;
  padding-bottom: 100px;
}
#team h2 {
  border-left: 2px solid #f2af00;
  display: inline-block;
  padding: 5px 10px 10px 20px;
}
#team h4 {
  padding-bottom: 40px;
}
#team .col-md-12 {
  text-align: center;
  padding-bottom: 60px;
}
#team img {
  border: 1px solid #666;
  padding: 15px;
}

.blogClick {
  color: #1abc9c;
  font-weight: 800;
}

/* news section */
#news {
  text-align: center;
  padding-top: 75px; /* used to be 80px */
  padding-bottom: 60px;
  background-color: rgb(242, 243, 247);
}

#gallery {
  text-align: center;
  padding-top: 40px; /* used to be 80px */
  padding-bottom: 40px;
  background-color: rgb(242, 243, 247);
}

.arrow1 {
  position:relative;
  float:right;
  margin-left:12px;
  font-size:.8em;
}
.arrow2 {
  position:relative;
  float:right;
  margin-left:12px;
  font-size:.8em;
}

.button-about {
  display: inline-block;
  border-radius: 4px;
  background-color: transparent;
  border: none;
  color: black;
  font-weight:bold;
  text-align: center;
  font-size: 1.4em;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  vertical-align:middle;
}

.button-about span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.8s;
}


.button-about span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -40px;
  transition: 0.8s;
}

.button-about:hover span {
  padding-right: 25px;
}

.button-about:hover span:after {
  opacity: 1;
  right: 0;
}
#news2 {
  text-align: center;
  padding-top: 75px; /* used to be 80px */
  padding-bottom: 60px;
  background-color: white;
}

#news2 {
  background-color:white;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#news h2 {
  /*  border-right: 2px solid #f2af00; */
  display: inline-block;
  padding: 5px 5px 5px 5px;
  font-size: 22px;
  color: #F1AB86;
}

#gallery h2 {
  display: inline-block;
  padding: 5px 5px 5px 5px;
  font-size: 22px;
  color: #F1AB86;
}

.service-tile {
  height:0 auto;
  width:100%;
  background-color:red;
}

#news2 h1 {
  font-size: 30px;
  margin-top: -6px;
  margin-bottom: 1pc;
  color: #407595;
}

#news2 h4 {
  color: #407595;
}

#news p {
  color: #407595;
}

#news2 h2 {
  /*  border-right: 2px solid #f2af00; */
  display: inline-block;
  padding: 5px 5px 5px 5px;
  font-size: 22px;
  color: #f2af00;
}

#news h1 {
  font-size: 30px;
  margin-top: -6px;
  margin-bottom: 1pc;
  color: #407595;
}
#news123 {
  text-align: center;
  padding-top: 75px; /* used to be 80px */
  padding-bottom: 60px;
  background-color: green;
}

.bar {
  width: 100%;
  height: 150px;
  background-color: #1abc9c;
  margin-top: 75px;
  margin-bottom: 0px;
}

/* ---------- Quote Section ---------- */
#quote {
  position: relative;
  width: 100%;
  height: 100px;
  color: rgb(242, 243, 247);
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  margin-top: 2%;
  font-size: 1.2em;  
  font-weight: 400; 
  padding-bottom: 14%;

}
.togglButtons {
  position: relative;
  width: 100%;
  text-align: left;
  border: none;
  padding-bottom:2%;
}

/* quote section buttons */
#displayDetails {
  background-color: transparent;
  border:none;   
  margin-right:5px;
  margin-left:5px;
  border-radius:0px;
  font-size:1.4em;
}

#displayDetails:hover {
  background-color: transparent;
  text-decoration: none;
  color:blue;
}

#displayDetails:active {
  background-color: transparent;
  text-decoration: none;
  color:blue;
}
#displayDetails:focus {
  background-color: transparent;
  text-decoration: none;
  color:blue;
}

#displayDetail {
  border:none;
  background-color: transparent;   
  margin-right:5px;
  margin-left:5px;
  border-radius:0px;
  font-size:1.4em;
}
#displayDetail:hover {
  background-color: transparent;
  text-decoration: none;
  color:blue;
}

#displayDetail:active {
  background-color: transparent;
  text-decoration: none;
  color:blue;
}
#displayDetail:focus {
  background-color: transparent;
  text-decoration: none;
  color:blue;
}

#displayDetai {
  border:none;
  background-color: transparent;  
  margin-right:5px;
  margin-left:5px;
  border-radius:0px;
  font-size:1.4em;
}
#displayDetai:hover {
  background-color: transparent;
  text-decoration: none;
  color:blue;
}

#displayDetai:active {
  background-color: transparent;
  text-decoration: none;
  color:blue;
}
#displayDetai:focus {
  background-color: transparent;
  text-decoration: none;
  color:blue;
}
/* use this because Chrome will apply highlighting to 
other elements such as DIV's used as modals */
*:focus {
  outline: 0;
}

.container-fluid {
  margin-left: 5%;
  margin-right: 5%;
}

.container-fluid img {
  margin-top:2%;
}

/* quote section buttons */
/* filter css */
.filter-wrapper {
  width: 100%;
  margin: 0 0 24px 0;
  overflow: hidden;
  text-align: center;
}
.filter-wrapper li {
  display: inline-block;
  margin: 4px;
}
.filter-wrapper li a {
  color: #999999;
  font-size: 16px;
  font-family: 'lane_-_narrowregular', sans-serif;
  font-weight: bold;
  padding: 8px 17px;
  display: block;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}
.filter-wrapper li a.selected,
.filter-wrapper li a:focus,
.filter-wrapper li a:hover {
  background: #f2af00;
  border-color: transparent;
  color: #ffffff;
}

/* ISOTOPE BOX CSS */
.iso-box-section {
  width: 100%;
}
.iso-box-wrapper {
  width: 100%;
  padding: 0;
  clear: both;
  position: relative;
}
.iso-box {
  position: relative;
  min-height: 50px;
  float: left;
  overflow: hidden;
  margin-bottom: 20px;
  width:22%;
  margin:1%;
  background-color: green;
}
.iso-box > a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.iso-box > a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.fluid-img {
  width: 100%;
  display: block;
}

/* pricing section */
#pricing {
  padding-top: 60px;
  padding-bottom: 80px;
  text-align: center;
}
#pricing h2 {
  border-left: 2px solid #f2af00;
  display: inline-block;
  padding: 10px 10px 10px 20px;
}
#pricing .plan {
  border: 2px solid #444;
  padding: 20px 20px 40px 20px;
  margin-top: 60px;
}
#pricing .plan .plan-title {
  border-bottom: 2px solid #444;
  padding: 20px 10px 20px 10px;
  margin-bottom: 20px;
}
#pricing .plan small,
#pricing .plan ul li {
  font-family: 'Raleway', sans-serif;
}
#pricing .plan ul {
  padding: 0;
}
#pricing .plan ul li {
  display: block;
  padding: 16px 0px 16px 0px;
}
#pricing .plan .btn {
  background: transparent;
  border: 2px solid #444;
  border-radius: 0px;
  color: #000;
  font-weight: bold;
  width: 140px;
  height: 50px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}
#pricing .plan .btn:hover {
  background: #f2af00;
  border-color: transparent;
}

/* contact section */
#contact {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background-color:rgb(242, 243, 247);
}
#contact h2 {
  /*  border-right: 2px solid #f2af00; */
  display: inline-block;
  padding: 0px 20px 10px 10px;
  margin-bottom: 60px;
}
#contact .form-control {
  border: 2px solid #444;
  border-radius: 0px;
  box-shadow: none;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px;
}

#contact .form-control:focus {
  opacity: 0.8;
  position: relative;
  bottom: 10px;
}

#contact input {
  height: 50px;
  align-content: right;
}
#contact input[type="submit"] {
  background: #698996; 
  border-color: transparent;
  color: #ffffff;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}
#contact input[type="submit"]:hover {
  background: #97b1a6;
  border-color: transparent;
}

.uploadbutton {
  background: #f39c12; 
  margin-top:0%;
  padding-top:1%;
  width:50%;
  border-color: transparent;
  color: white; /* this is the text "no file chosen" */
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}

.uploadbutton:hover {
  background: #97b1a6;
  width:50%;
  border-color: transparent;
}
#contact p {
  padding-top: 10px;

}

#contact p:nth-child(1) {
  vertical-align: left;
}
.form-control::-moz-placeholder {
  color: #202020;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #202020;
}
.form-control::-webkit-input-placeholder {
  color: #202020;
}


/* footer section */
#social {
  vertical-align: center;
  margin-left: 10%;
}

#social h2 {
  border-right: none;
  vertical-align: center;
}
footer {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: left;
  margin: 0 auto;
}

footer h2 {
  border-bottom: 2px solid #444;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
  text-align: left;
  width: 90%;
}

footer .container .row h2 {
  border-right: none;
}

footer p {
  line-height: 20px;
}
footer span {
  font-weight: bold;
  padding-left: 0px;
}
.social-icons {
  padding: 0;
  margin: 0;
}
.social-icons li {
  display: inline-block;
  list-style: none;
}
.social-icons li a {
  background:#97b1a6; 
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  margin-right: 10px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}
.social-icons li a:hover {
  /*  background: #444;   */
  background-color: rgb(64, 117, 149) ;
}
/* copyright section */
.copyright {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left:-.25%;
  text-align: center;
  color: /* rgb(64, 117, 149); */rgb(242, 243, 247);
  background-color: #698996;
  width:100%;
}
/* scrolltop section */
.go-top {
  background-color: #F1AB86;
  font-size: 26px;
  bottom: 2em;
  right: 2em;
  color: #FFF;
  display: none;
  position: fixed;
  text-decoration: none;
  width: 60px;
  height: 60px;
  line-height: 58px;
  text-align: center;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}
.go-top:hover {
  background-color: #57a773;
  color: #fff;
}

/* media 960 */
@media only screen and ( max-width: 980px ) {
  .navbar-default .navbar-nav li a {
    padding-right: 20px;
    padding-left: 40px;
    line-height: 30px;
  }
}

/* media 360 */
@media only screen and ( max-width: 360px ) {
  #team h4 {
    padding-bottom: 30px;
  }
  /*mobile styling */

  /*mobile styling */
}